@tailwind base;
@tailwind components;
@tailwind utilities;

.article-container {
  overflow-y: overlay;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
